page-home{
  .top_header_message_ico{
    font-size:2.5rem;
    min-height:44px;
    color:#999999;
    padding:9px 5px 9px 5px;
    text-align:center;
  }
  .searchbar{
    float:left;
    width:92%;
  }
  .floatMenu{
    width:100%;
    height:36px;
    background-color:#fff;
    margin-bottom:5px;
    color:#999999;
    font-weight:bold;
  }
}
